{% extends "core/base.html" %}

{% block title %}{{ post.title }} | Blog{% endblock %}

{% block content %}

<section id="services" class="container section my-5">

    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-6">Blog Posts</h1>
        </div>
    </div>
</section>

<h2>Blog Posts</h2>
<ul>
    {% for post in posts %}
    <li>
        <strong>{{ post.title }}</strong> by {{ post.author.username }}<br>
        {{ post.content }}<br>
    </li>
    {% endfor %}
</ul>

{% endblock %}
