{% extends "core/base.html" %}
{% load static %}
{% block title %}Beautiful outdoor spaces | Home{% endblock %}

{% block content %}
<div id="carouselExample" class="carousel slide carousel-fade custom-carousel" data-bs-ride="carousel"
    data-bs-interval="6000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'core/images/winters/squoosh/Winters-back.jpg' %}" class="d-block w-100"
                alt="Back garden image in co. cork ">
        </div>
        <div class="carousel-item">
            <img src="{% static 'core/images/winters/squoosh/winters-2.jpg' %}" class="d-block w-100"
                alt="Back garden image number 2 in co. cork ">
        </div>
        <div class="carousel-item">
            <img src="{% static 'core/images/winters/squoosh/winters-3.jpg' %}" class="d-block w-100"
                alt="Back garden image number 3 in co. cork ">
        </div>
        <div class="carousel-item">
            <img src="{% static 'core/images/winters/squoosh/winters-4.jpg' %}" class="d-block w-100"
                alt="Back garden image number 4 in co. cork ">
        </div>
        <div class="carousel-item">
            <img src="{% static 'core/images/winters/squoosh/winters-5.jpg' %}" class="d-block carousel-image"
                alt="Back garden image number 5 in co. cork ">
        </div>
        <div class="carousel-item">
            <img src="{% static 'core/images/winters/squoosh/winters-6.jpg' %}" class="d-block w-100"
                alt="Back garden image number 6 in co. cork ">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--  reasons/benefits section here -->
<section id="reasons">
            <h2>Eco-friendly outdoor spaces </h2>
            <section id="benefits">
                <article id="benefits-ecosystem">
                    <div>
                        <h3 class="text-left"> Ecosystem Balance <i class="fa-solid fa-heart-pulse"></i></h3>
                        <hr>
                        <p class="text-left">Pollinators help fertilize plants, stabilizing soil, reducing erosion, and
                            supporting biodiversity — a beautiful cycle of mutual benefit.
                            It supports beneficial microbes, insects, and fungi that keep ecosystems thriving.</p>
                    </div>
                    <div>
                        <h3 class="text-left"> Sustainability & Resilience <i class="fa-solid fa-seedling"></i></h3>
                        <hr>
                        <p class="text-left">Healthy plants are less prone to pests and diseases.
                            Rich soil retains moisture better and buffers against drought or heavy rain.</p>
                    </div>
                </article>
                <article id="benefits-pets-humans">
                    <div>
                        <h3 class="text-right">Healthy <i class="fa-solid fa-paw"></i></h3>
                        <hr>
                        <p class="text-left">Physical exercise, gardening included, is known to release endorphins in
                            the brain.
                            Endorphins make you more energetic, more awake and, yes, happier.
                            Safer for pets also </p>
                    </div>
                    <div>
                        <h3 class="text-right"> Cleaner Water <i class="fas fa-water"></i></h3>
                        <hr>
                        <p class="text-left">Healthy soils filter and retain water, reducing runoff and pollution.
                            thereby preventing harmful chemicals and sediments from entering rivers, lakes, and
                            drinking water sources.</p>
                    </div>
                </article>
                <figure id="benefits-image" aria-hidden="true">
                    <div id="circle-cover-bg"></div>
                </figure>
            </section>
        </section>

{% endblock %}
