<header>
    <a href="{% url 'home' %}">
        <h1 id="logo">Harmonia</h1>
    </a>

    <input type="checkbox" id="nav-toggle" name="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">X</label>

    <nav>
        <ul id="menu">
            <li><a href="{% url 'home' %}" class="active">Home</a></li>
            <li><a href="{% url 'services_home' %}">Services</a></li>
            <li><a href="{% url 'blog_home' %}" class="CTA contact-button" id="call">Blog</a></li>
            <li><a href="{% url 'booking_home' %}">Bookings</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a> |
                    <a href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
